<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start" *ngIf="!isSearchbar">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="!isSearchbar">Spazaboard</ion-title>

        <ion-searchbar showCancelButton="always" (ionCancel)="isSearchbar=false" *ngIf="isSearchbar" (ionInput)="filterList($event)"></ion-searchbar>

        <ion-buttons slot="end" (click)="isSearchbar= true" *ngIf="!isSearchbar">
            <ion-icon name="search" slot="end" class="searchIon"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-card color="lightb" *ngFor="let spaza of spazalist" (click)="comment(spaza)">
        <ion-card-content>
            <p class="spazaName">
                {{spaza.spazaName}}
            </p>
            <p class="font" *ngIf="spaza.commentCount==0">
                No review
            </p>
            <p class="font" *ngIf="spaza.commentCount >0 ">
                {{spaza.commentCount}} review
            </p>

            <p class="font">
                {{spaza.Address}}
            </p>
            <p class="font">
                {{spaza.Hours}}
                <!-- <ion-icon name="call" slot="end" class="call" color="primary"></ion-icon> -->
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>