.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.center {
    text-align: center;
}

.gray {
    color: rgb(187, 186, 186);
}

ion-icon {
    font-size: 20px;
}

ion-text {
    font-size: 14px;
}