<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

        <ion-title>{{spazaName}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="spaza$ | async as spaza">
        <ion-card class="welcome-card" color="lightb">
            <!-- <img src="{{spaza.photoURL}}" (click)="zoom(spaza)"> -->
            <div *ngIf="spaza.photoURL == ''">

            </div>

            <div *ngIf="spaza.photoURL !=''">
                <!-- <ion-img [src]="spaza.photoURL" (click)="zoom(spaza)"></ion-img> -->
                <img src="{{spaza.photoURL}}">

            </div>
            <!-- <ion-card-header>
                <ion-card-subtitle>{{ spaza.Discription }}</ion-card-subtitle>
            </ion-card-header> -->
            <ion-card-content>
                <ion-item color="lightb" lines="none">
                    <ion-text>{{ spaza.Discription }}</ion-text>
                </ion-item>
                <ion-item color="lightb" lines="none">
                    <ion-icon name="pin" slot="start" color="primary"></ion-icon>
                    <ion-text>{{spaza.Address}}</ion-text>
                </ion-item>
                <ion-item color="lightb" lines="none">
                    <ion-icon name="time" slot="start" color="primary"></ion-icon>
                    <ion-text>{{spaza.Hours}}</ion-text>
                </ion-item>
                <ion-item color="lightb" lines="none">
                    <ion-icon name="call" slot="start" color="primary"></ion-icon>
                    <ion-text>{{spaza.Number}}</ion-text>
                </ion-item>
                <ion-item color="lightb" lines="none">
                    <ion-text> Total Comments: {{ spaza.commentCount }} </ion-text>
                    <ion-text slot="end" color="primary" (click)="productlist()">View Products</ion-text>
                </ion-item>


                <!-- <p>
                    <ion-icon name="pin" slot="start" color="primary"></ion-icon> {{spaza.Address}}
                </p>
                <p>
                    <ion-icon name="time" slot="start" color="primary"></ion-icon> {{spaza.Hours}}
                </p>
                <p>
                    <ion-icon name="call" slot="start" color="primary"></ion-icon> {{spaza.Number}}
                </p>
                <br>
                <p>
                    Total Comments: {{ spaza.commentCount }}
                </p> -->
            </ion-card-content>
        </ion-card>


        <p class="center">Rate and Review</p>

        <p class="center">
            <ionic4-star-rating [(ngModel)]="rate" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffb400" defaultColor="gray" readonly="false" fontSize="20px" (ratingChanged)="onModelChange($event)">
            </ionic4-star-rating>
        </p>

        <p class="center gray" *ngIf="!isRate">Share your experience to help other</p>

        <!-- <ion-item *ngIf="isRate">
            <ion-textarea [(ngModel)]="text" (keyup.enter)="addComment()" placeholder="{{tellus}}"></ion-textarea>
        </ion-item> -->



        <!-- Aggregated comments on the post document -->
        <ng-container *ngIf="!Recent">
            <ion-item *ngIf="spaza.commentCount  > 0">
                <ion-label>Recent Comments</ion-label>
            </ion-item>
            <div *ngFor="let comment of ItemsList | slice:0:5 ">
                <div *ngFor="let user of users | async">

                    <ion-card *ngIf="user.uid === comment.uid" color="lightb">

                        <ion-item>
                            <ion-icon *ngIf="comment.uid === uid " name="more" slot="end" color="primary" (click)="openPopover($event, comment)"></ion-icon>
                            <ion-avatar slot="start" *ngIf="user.photoURL =='' ">
                                <img src="/assets/img/avatar.svg">
                            </ion-avatar>
                            <ion-avatar slot="start" *ngIf="user.photoURL !='' ">

                                <!-- <ion-img [src]="user.photoURL"></ion-img> -->
                                <img src="{{user.photoURL}}" width="200" height="150" class="image1">
                            </ion-avatar>

                            <ion-label>
                                <h2>{{user.displayName}}</h2>
                                <h3>
                                    <!-- <rating id="ionicRating2" [(ngModel)]="comment.rate" readonly="true" size="default"></rating> -->

                                    <ionic4-star-rating [(ngModel)]="comment.rate" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffb400 " defaultColor="gray" readonly="true" fontSize="10px">
                                    </ionic4-star-rating>
                                </h3>
                            </ion-label>

                        </ion-item>
                        <ion-card-content>
                            <p color="light">{{ comment.createdAt |date: 'medium' }}</p>
                            <h5>{{ comment.content }}</h5>
                        </ion-card-content>
                    </ion-card>
                </div>

            </div>
        </ng-container>


        <!-- Firestore comment documents from the subcollection -->
        <div *ngIf="Recent">


            <div *ngFor="let comment of ItemsList">
                <div *ngFor="let user of users | async">

                    <ion-card *ngIf="user.uid === comment.uid" color="lightb">
                        <ion-item>
                            <ion-icon *ngIf="comment.uid === uid " name="more" slot="end" color="primary" (click)="openPopover($event, comment)"></ion-icon>
                            <ion-avatar slot="start" *ngIf="user.photoURL =='' ">
                                <img src="/assets/img/avatar.svg">
                            </ion-avatar>
                            <ion-avatar slot="start" *ngIf="user.photoURL !='' ">
                                <img src="{{user.photoURL}}">
                            </ion-avatar>

                            <ion-label>
                                <h2>{{user.displayName}}</h2>
                                <h3>
                                    <!-- <rating id="ionicRating2" [(ngModel)]="comment.rate" readonly="true" size="default"></rating> -->

                                    <ionic4-star-rating [(ngModel)]="comment.rate" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffb400 " defaultColor="gray" readonly="true" fontSize="10px">
                                    </ionic4-star-rating>
                                </h3>
                            </ion-label>



                        </ion-item>
                        <ion-card-content>
                            <p color="light">{{ comment.createdAt |date: 'medium' }}</p>
                            <h5>{{ comment.content }}</h5>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </div>

        <ion-button expand="full" color="primary" (click)="loadMore()" *ngIf="spaza.commentCount  > 5 &&  isLoadComments == 'true'" class="ion-padding">

            Load all {{ spaza.commentCount }} comments
        </ion-button>

        <ion-button expand="full" color="primary" (click)="loadRecentComments()" *ngIf="isLoadComments == 'false'" class="ion-padding">
            View recent comments
        </ion-button>

    </div>


    <br>
</ion-content>