input {
    color: red;
}

.mapboxgl-ctrl-geocoder input {
    border: red;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.bot {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

p {
    text-align: left;
}

ion-card {
    width: 90% !important;
    background: #20727de1 !important;
    color: white;
}

.card-content-ios,
.card-content-md {
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-size: 16px; */
    line-height: 1.1;
}

.sc-ion-card-md-h,
.sc-ion-card-ios-h {
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow {
    text-align: center;
    font-size: 30px;
}