input {
    color: red;
}

.mapboxgl-ctrl-geocoder input {
    border: red;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.bot {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

p {
    text-align: left;
}

ion-card {
    width: 90% !important;
}