input {
    color: red;
}

.mapboxgl-ctrl-geocoder input {
    border: red;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.bot {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

ion-card {
    width: 90% !important;
    // background: #20727de1;
    color: white !important;
    height: 100px;
}

.card-content-ios,
.card-content-md {
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-size: 16px; */
    line-height: 1.1;
}

.sc-ion-card-md-h,
.sc-ion-card-ios-h {
    margin-top: 5px;
    margin-bottom: 5px;
    --background: #20727d;
}

.arrow {
    text-align: center;
    font-size: 30px;
}

.right {
    float: right;
    font-weight: bold;
    font-size: 12px;
}

p {
    text-align: left;
    // font-size: 2vh;
    font-size: 11px;
}

.ad {}
.directions-control {
    position: relative;
    margin: 7px 0 0;
    color: #fff;
    width: 260px;
    height: 450px;
    top: 125px;
    bottom: 0;
   left: 10px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 1.75%;
    // overflow-y: scroll;
    font-family: sans-serif;
    // font-size: 0.8em;
    // line-height: 2em;
  }
  .directions-control-directions{
    width: 260px;
    max-width: 260px;
}