<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #map id="map"></div>
    <div id='geocoder' class='geocoder'></div>
    <div class="bot">


        <ion-slides startAutoplay>
            <ion-slide *ngFor="let spaza of spazalist" (click)="comment(spaza)">


                <ion-card color="primary">

                    <ion-card-content>
                        <p class="spazaName">
                            {{spaza.spazaName}}
                        </p>
                        <p class="font" *ngIf="!spaza.commentCount">
                            No review
                        </p>
                        <p class="font" *ngIf="spaza.commentCount > 0">
                            {{spaza.commentCount}} review
                        </p>

                        <p class="font">
                            {{spaza.Address}}
                        </p>
                        <p class="font">
                            {{spaza.Hours}}
                            <ion-icon name="call" slot="end" class="call" color="primary">Call</ion-icon>
                        </p>
                    </ion-card-content>
                </ion-card>


            </ion-slide>
            <ion-slide>



            </ion-slide>
        </ion-slides>

    </div>
    <!-- <div class="bot">
        <ion-slides pager>
            <ion-slide *ngFor="let spaza of spazalist" style="background-color:red;">
                <ion-card color="lightb" (click)="comment(spaza)">
             
                    <ion-card-content>
       <p class="spazaName">
                        {{spaza.spazaName}}
                    </p>
                    <p class="font" *ngIf="!spaza.commentCount">
                        No review
                    </p>
                    <p class="font" *ngIf="spaza.commentCount > 0">
                        {{spaza.commentCount}} review
                    </p>

                    <p class="font">
                        {{spaza.Address}}
                    </p>
                    <p class="font">
                        {{spaza.Hours}}
                        <ion-icon name="call" slot="end" class="call" color="primary">Call</ion-icon>
                    </p>
                    </ion-card-content>
                </ion-card>

            </ion-slide>
        </ion-slides>
    </div> -->
</ion-content>